<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDisplayName</key>
    <string>Mental Concierge</string>
    <key>NSLocationWhenInUseUsageDescription</key>
    <string>Your location is used to provide personalized recommendations for Bodrum and activate regional concierge services.</string>
    <key>NSUserNotificationsUsageDescription</key>
    <string>We use notifications to keep you updated on your daily plan and exclusive experiences.</string>
    <key>UIBackgroundModes</key>
    <array>
        <string>remote-notification</string>
        <string>location</string>
    </array>
    <key>UILaunchScreen</key>
    <dict>
        <key>UIColorName</key>
        <string>appBackground</string>
        <key>UIImageName</key>
        <string>LaunchLogo</string>
    </dict>
</dict>
</plist>
